<div class="gcaptcha">
  <div class="g-recaptcha" data-theme="dark" data-callback="captCallback" data-sitekey="6LdEliMUAAAAAD0pjrZGyLdo25MNt69VscZp6gsG"></div>
</div>
<div style="display:none;" class="ol-debugview">
  <span class="debug-head">Console</span>
  <div class="debug-top">
    <input style="width:100%;" class="form-control debug-input" autofocus="false" autocomplete="off" autocorrect="off" autocapitalize="off"
      spellcheck="false" type="text" maxlength="100" id="debug_view" placeholder="Enter a command">
    <span class="msg">Enter</span>
  </div>
  <div class="debugcontainer"></div>
</div>
<div class="adv-panel panel">
  <span class="region_header"></span>
  <div class="adv-options">
    <div class="adv-option">
      <div class="slist-out">
        <span class="head t-unselectable ">Servers</span>
        <select id="server" class="slist">

        </select>

      </div>
      <div class="slist-out">
        <span class="t-unselectable head">Graphics</span>
        <select id="graphic" class="slist">

        </select>
      </div>
    </div>
    <div class="adv-option">
      <div class="op1 check-options">
        <label class="check-option">
          <input id="gname" type="checkbox">
          <span class="t-unselectable">No Name</span>
        </label>
        <label class="check-option">
          <input id="gskin" type="checkbox">
          <span class="t-unselectable">No Skin</span>
        </label>
      </div>

      <div class="check-options">
        <label class="check-option">
          <input id="gcolor" type="checkbox">
          <span class="t-unselectable">No Color</span>
        </label>
        <label class="check-option">
          <input id="gsound" type="checkbox">
          <span class="t-unselectable">No Sounds</span>
        </label>
      </div>

    </div>
  </div>


</div>


<div class="tags-panel panel">
  <div class="skin-settings">
    <span class="region_header"></span>
    <div class="user-taunts">
      <div class="taunts-scroll">
      </div>
    </div>
  </div>
  <div class="default-chats">
    <select id="default-death">
    </select>
    <select id="default-pop">

    </select>

  </div>
  <div class="taunt-manager">
    <span id="cl_all_tags" class="cl_all">Clear all chat messages</span>
    <div class="taddition">
      <span class="t-unselectable delTaunt boo-btn">
        <span class="abso">X</span>
      </span>

      <input class="form-control taunt-input-in" autofocus="on" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
        type="text" class="button" maxlength="35" autocomplete="off" id="newtaunt" name="new taunt" placeholder="Create a new chat message.">

      <div class="tauntscontainer">
        <div id="taunt-box-add" class="mm-btn-main taunt-add boombtn t-unselectable">
          <span class="mm-btn">
            <span style="font-family: Arial Unicode MS, Lucida Grande">&#10004;</span>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="darkness">

</div>
<div class="rdarkness">

</div>
<div id="error-msg">
  <div class="error-center">
    <div class="error-fail">
      Failed to connect to server.
    </div>
  </div>
</div>
<div class="gen_window">
  <div class="user-window chat-closed fl-rig sm-marg10 f-sec" id="ui_view">
    <div class="options-header">
      <div class="tag-header-close">
        <span class="abso t-unselectable">X</span>
      </div>
      <div class="options-header-in">
        <div style="height:40px;" class="options-data">
          <span style="font-size:17px;" class="option-heading t-unselectable"></span>
        </div>
      </div>
    </div>
    <div class="user-panel">
    </div>
  </div>
</div>
<div id="rd">
  <div style="positon:absolute;font-size:34px;">
    <span style="position:relative;color:white;text-shadow:2px 2px 2px red;">Popped By</span>
    <span id="killer_respawn" style="position: relative;left: 10px;font-weight: bold;text-shadow:2px 2px 2px black;">Unkown Monster</span>
  </div>
  <div class="t-unselectable" id="respawnText" style="color:white;padding:5px;font-weight:bold;opacity:1;text-shadow:2px 2px 2px black;">
  Press [ENTER] to respawn... </div>
</div>
<div id='od'>
 
</div>
<div id="restart-ad">

</div>


</div>
<div class="disc-small">
  <div style="position: absolute;  bottom: 10px;width: 350px;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #7b0b0b;
    border: 2px solid red;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;">
    <span class="t-unselectable" style="color: wheat;
    font-size: 17px;
    position: relative;
    top: 5px;
    left: 0;
    display: block;">Press reconnect to connect to server.</span>
    <div style="top:11px;" class="disc-connect main-connect boombtn mm-btn-main t-unselectable">
      <span style="color:white;" class="t-unselectable">Reconnect</span>
    </div>

  </div>

</div>
<div id="overlays" class="abso">
  <div style="width:250px;position:absolute;" class="top-block">
    <div style="display:none;"data-toggle="tooltip" title="Click to spectate live game." id="soul-login-spec" class="boombtn mm-btn-main game-login-spec  t-unselectable">
      <span style=" background-image: url(../images/obj/sp.png);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    margin-top: 4px;
                                    width: 22px;
                                    height: 17px;
                                    display: inline-block;
                                    left: 5px;"></span>
      <span style="position:relative;left:-3px;top:-2px;" class="t-unselectable spec-text">Spectate</span>
    </div>

    <div id="mip-block" style="position: absolute;
    z-index: 1;
    color: #fff;
    left: 0;
    top: 10px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    display: none; 
    border-radius: 10px;
    background-color: #4e0f0f;">
      <span style="display: block;
    text-align: center;/
    color: #ccff00;" id="miph">Match in progress</span>
      <span class="mipclock" style="width: 25px;
    height: 22px;
    display: inline-block;"> </span>
      <span style="display: inline-block;
    text-align: center;
    position: relative;
    top: -4px;
    font-size: 22px;" id="mipt">loading..</span>
    </div>

  </div>


  <div class="abso bg"></div>

  <div id="notavailable">
    <div class="blocked">
      <span class="ig"></span>
      <div class="na">
        <span>
        </span>
      </div>
    </div>
  </div>
  <div class="tc abso ontop99" id="soul-connection">
    <div class="conn-img"></div>
    <div class="pbar">
      <span style="left:10%" class="abso deco"></span>
      <span style="left:20%" class="abso deco"></span>
      <span style="left:30%" class="abso deco"></span>
      <span style="left:40%" class="abso deco"></span>
      <span style="left:50%" class="abso deco"></span>
      <span style="left:60%" class="abso deco"></span>
      <span style="left:70%" class="abso deco"></span>
      <span style="left:80%" class="abso deco"></span>
      <span style="left:90%" class="abso deco"></span>

      <span id="lbar" class="mbar"></span>
      <span class="t-unselectable abso" id="cgs"> Connecting to game server</span>
    </div>

  </div>



  <div class="all_sections">
    <div class="sec-start clearfix">
      <div class="soulbox-heading"></div>
      <div class="help-t">
        <div class="helper">
          <p class="helpingsoul t-unselectable"></p>
        </div>
      </div>
      <div class="section middle_section">
        <div class="middle_main">
          <div id="soulbox">
            <div class="boxes">
              <div class="signinpanel-outer">
                <div class="signinpanel">
                  <div class="signinpanel-inner">
                    <input class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="button"
                      maxlength="22" autocomplete="off" id="email" name="email" placeholder="Nickname">
                    <div class="secrow al-center mm-mode-outer" style="display:none;">
                    </div>
                    <div class="main_list">
                      <div data-toggle="tooltip" title="Quick Chat" class="user-tags main_list_part">
                        <span class="t-unselectable type-header">QC</span>
                      </div>
                      <div data-toggle="tooltip" title="Skin Menu" class="user-skins main_list_part">
                        <span class="t-unselectable skins-header">Skins</span>
                      </div>
                      <div data-toggle="tooltip" title="Servers, Quality Settings" class="user-more main_list_part">
                        <span class="t-unselectable type-header">More</span>
                      </div>
                      <div data-toggle="tooltip" title="Toggle Music" class="user-music main_list_part">
                        <span class="gmusic" style="display: none;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: white;
    /* border-radius: 200px; */
    left: 0px;
    right: 0;
    margin: auto;
    transform: rotateZ(-45deg);"></span>
                        <span style="font-size:31px;" class="t-unselectable type-header">&#9835;</span>
                      </div>
                      {{!--
                      <div class="daily_rewards main_list_part">
                        <div id="daily_reward" class="reward-pending mm-reward-btn-take t-unselectable">
                          <div class="loaderext"></div>
                          <span class="mm-reward-text t-unselectable"> </span>
                        </div>
                      </div> --}}
                    </div>

                  </div>
                  <div class="secrow-logged h75">
                    <div data-toggle="tooltip" title="Press Enter or left click to start the game." id="soul-login-play" class="boombtn mm-btn-main game-login-play gameplaybtn-green t-unselectable">
                      <span id="mip-st" style="position: absolute;
                                  font-size: 14px;
                                  top: -22;
                                  bottom: -25px;
                                  display:none;
                                  left: 0;
                                  right: 0;
                                  margin: auto;
                                  color: #ffffff94;"></span>
                      <span class="t-unselectable play-text"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section end_section">
        <div id="adcont"></div>
      </div>
    </div>
  </div>

  <div class="social-bar">

    <div class="f-outer">

      <div class="soc-feeders">
        <a class="soc-button" id="twi-button" href="http://twitter.com/himugamer" target="_blank">
        </a>
        <a class="soc-button" id="fb-button" href="http://www.facebook.com/karkiogame/" target="_blank">

        </a>
        <a class="soc-button" id="ut-button" href="http://www.youtube.com/channel/UCwAr76pon0CVKVWaxjNnCiQ" target="_blank">

        </a>

      </div>

    </div>

  </div>

  <div id="footer" class="clearfix">
    <div style="display:none;" id="adsBott">
      <div id="adsBottInner"></div>
    </div>
    <div class="moreio">
      <a href="http://www.iogames.space">More IO Games</a>
    </div>
    <ul class="footer-links-ul">

      <li class="footer-links-li">
        <a href="/privacy">Privacy Policy</a>
      </li>
      <li class="footer-links-li">
        <a href="/terms">Terms of Service</a>
      </li>
    </ul>


  </div>
</div>

</div>

<script language="javascript">
  String.prototype.getIndicesOf = function getIndicesOf(searchStr, str, caseSensitive) {
    var searchStrLen = searchStr.length;
    if (searchStrLen == 0) {
      console.log('return []');
      return [];
    }
    var startIndex = 0,
      index, indices = [];
    if (!caseSensitive) {
      str = str.toLowerCase();
      searchStr = searchStr.toLowerCase();
    }
    while ((index = str.indexOf(searchStr, startIndex)) > -1) {
      indices.push(index);
      startIndex = index + searchStrLen;
    }
    return indices;
  }
  window.onbeforeunload = function (e) {
    e = e || window.event;
    if (e) {
      e.returnValue = 'Are you sure?';
    }
    return 'Are you sure?';
  };

  window.store = {
    localStoreSupport: function () {
      try {
        return 'localStorage' in window && window['localStorage'] !== null;
      } catch (e) {
        return false;
      }
    },
    set: function (name, value, days) {
      var expires;
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
      } else {
        expires = "";
      }
      if (this.localStoreSupport()) {
        localStorage.setItem(name, value);
      } else {
        document.cookie = name + "=" + value + expires + "; path=/";
      }
    },
    get: function (name) {
      if (this.localStoreSupport()) {
        var ret = localStorage.getItem(name);
        //console.log(typeof ret);
        switch (ret) {
          case 'true':
            return true;
          case 'false':
            return false;
          default:
            return ret;
        }
      } else {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        var ret2;
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) {
            ret2 = c.substring(nameEQ.length, c.length);
            switch (ret2) {
              case 'true':
                return true;
              case 'false':
                return false;
              default:
                return ret2;
            }
          }
        }
        return null;
      }
    },
    del: function (name) {
      if (this.localStoreSupport()) {
        localStorage.removeItem(name);
      } else {
        this.set(name, "", -1);
      }
    }
  };
</script>
<script src="{{dir}}javascripts/ads.js" type="text/javascript"></script>
<script onload="scriptload('k2')" src="{{dir}}javascripts/illuminati.js" type="text/javascript"></script>
<script onload="scriptload('k1')" src="{{dir}}javascripts/karkbuild.js" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Do Hyeon']
    },
    active: e => {
      // console.log("font loaded!");
    }
  });
</script>