     <div class="ol-blank-div">
<span class="t-unselectable bl_heading">{{heading}}</span>
     {{!--<span class="unselectable ol-closebtn">X</span>--}}
     <div class="ol-blank-sign"><i style=" color:#2875ad;
    font-size: 1400%;
    margin-right: 2px;
    position: absolute;
    bottom: 0;
    margin: auto;
    line-height: 190px;
    display: inline-block;
    left: 0;
    right: 0;
    height: 100%;" class="glyphicon {{gly1}}">
       <i style="color: #ff0000;
    font-size: 30%;
    margin-right: 2px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    left: 0;
    right: -16%;
    top: 68%;" class="glyphicon {{gly2}}"></i>
    
    </i>
 </div>
 <span class="t-unselectable issue">{{issue}}</span>
     </div>