    {{#cities}}
    <li class="clearfix">
      <span class="city"><span class="city-nm">{{cityName}}</span> <span class="glowbtn glow-inactive" data-toggle="tooltip" title="not active"></span></span>
      <button class="btn btn-primary btn-sm city-detail-btn" style="border: 1px solid #72d2ff;font-weight:bold;border-radius:10px;">Details</button>	
    </li >
    {{/cities}} 