    {{#cities}}
<option class="cityoptions">{{cityName}}</option>
    {{/cities}}
    {{!--<li class="clearfix">
    <div  class="clearfix city-active-all">
      <span class="city"><span class="glowbtn glow-active" data-toggle="tooltip" title="active"></span><span class="city-nm" data-nm="{{citydata}}">{{cityName}}</span> 

      </span>
      <span class="city-detail-span"></button>
    	</div>
    	<div class="city-all-details"></div>
    </li >--}}

