    {{#controls}}
    <span class="t-unselectable ctrl-fn">{{controlfn}}</span>
      <input class="control-set form-control control-form" autofocus="" autocomplete="off" autocorrect="off" autocapitalize="off" 
      spellcheck="false" type="text" maxlength="5" value={{controlkey}}>

      {{/controls}}