 <link rel="stylesheet" href="/stylesheets/debug.css">
 <div class="debug-head">DEBUG</div>
<div class="dev-window">
<button class="dev-clear btn btn-success btn-settings"><span>Clear</span> </button>
<ul class="dev-w-ul">	
</ul>	
</div>
 <input class="dev-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="button" placeholder="Enter text" >
<button  id="resize-dev" class="halfsize btn btn-success btn-settings">
	<i style="position: relative;top: 2px;left: -2px;" class="glyphicon glyphicon-cog gi-15x"> </i>
</button>
<button  id="moveup-dev" class="halfsize-up btn btn-success btn-settings">
	<i style="position: relative;top: 2px;left: -2px;" class="glyphicon glyphicon-cog gi-15x"> </i>
</button>


