<div data-type='h' style="display: block;text-align: center;" class="overload-panel">
    <span class="t-unselectable" style="position:relative;top:-35px; font-family: Arial Unicode MS, Lucida Grande;color:red;font-size:280px;text-shadow:8px 12px 11px black;">&#9888;</span>
    <div style="position: absolute;  bottom: 10px;padding: 10px;">
            <div class="overload-connect main-connect boombtn mm-btn-main t-unselectable">
                        <span style="color:white;" class="t-unselectable">Reconnect</span>
            </div>
         <span class="t-unselectable" style="color:wheat;font-size: 15px;position:relative;top:5px;">All the servers in selected region are overloaded. Please change the region or try again later. :(</span>
    </div>
   
</div>